In [1]:
import numpy as np
import pandas as pd
from scipy.sparse import coo_matrix
from sklearn.metrics.pairwise import euclidean_distances
import matplotlib.pyplot as plt

### Dataset: Goodread 10k
Because Collaborative Filtering required a huge dataset of user-item interaction, so we going to use a dataset called "Goodread 10k" which contain 10000 unique books, 53000 unique users and 1 million interaction logs between user-item

https://www.kaggle.com/jealousleopard/goodreadsbooks

In [2]:
rating = pd.read_csv("./data/goodread/ratings.csv")
books = pd.read_csv("./data/goodread/books.csv")
books = books[['id','authors','title','average_rating','ratings_count']].rename(columns={'id':'book_id'})

In [3]:
books.sample(20)

,book_id,authors,title,average_rating,ratings_count
6716,6717,Rachel Caine,"The Morganville Vampires, Volume 3 (The Morgan...",4.39,13849
8028,8029,Robert Jackson Bennett,"City of Stairs (The Divine Cities, #1)",4.13,11863
8136,8137,Tarryn Fisher,F*ck Love,4.13,12203
3983,3984,Gena Showalter,The Darkest Whisper (Lords of the Underworld #4),4.33,35144
4754,4755,Mark Helprin,Winter's Tale,3.50,19932
4302,4303,Erin Hunter,"Forest of Secrets (Warriors, #3)",4.40,28913
1670,1671,Rainbow Rowell,Carry On,4.19,46197
5086,5087,Lily Koppel,The Astronaut Wives Club,3.26,17837
9172,9173,Indu Sundaresan,"The Twentieth Wife (Taj Mahal Trilogy, #1)",4.03,9873
6886,6887,"Sergei Lukyanenko, Andrew Bromfield",Day Watch (Watch #2),4.05,13812
3803,3804,Dean Koontz,Whispers,3.90,26304
7155,7156,"Lisa Kleypas, Rosalyn Landor","Tempt Me at Twilight (The Hathaways, #3)",4.18,23125
5684,5685,"Orson Scott Card, James Cameron",The Abyss,4.06,16318
1110,1111,Jane Green,Mr. Maybe,3.41,78132
2403,2404,Rachel Hartman,"Seraphina (Seraphina, #1)",3.98,33510
1823,1824,Sara Shepard,"Flawless (Pretty Little Liars, #2)",3.96,59403
5403,5404,Sinclair Lewis,Main Street,3.75,19040
2068,2069,Meg Cabot,"Queen of Babble (Queen of Babble, #1)",3.71,54248
9898,9899,Angela Duckworth,"Grit: Passion, Perseverance, and the Science o...",4.08,7971
9474,9475,Ted Dekker,Adam,3.93,9903

In [4]:
rating.sample(20)

        book_id  user_id  rating
84966       850    31376       3
898263     9101    28302       3
278574     2788    40737       4
702974     7073    36656       5
620927     6236    25847       4
888040     8992    28235       2
375763     3763    11569       4
488213     4894      977       4
844223     8533    38889       4
710333     7148    15563       3
883451     8944     1595       2
792275     7991    52095       5
384234     3848    21416       5
813656     8215    34584       2
960720     9772     7254       3
557620     5596    38518       3
322135     3225    17567       3
880179     8908    40241       4
817059     8251    16649       4
55429       555    22496       4

In [5]:
num_users = len(rating['user_id'].unique())
num_books = len(rating['book_id'].unique())
print("Number of user:",num_users)
print("Number of books:",num_books)

Number of user: 53424
Number of books: 10000

![title](./assets/utility-matrix.png)

In [6]:
cor = rating[['user_id','book_id']].values
# -1 because our dataset count index from 1
# but python index count from 0
cor -= 1
val = rating['rating'].values

In [7]:
rating_matrix = coo_matrix((val, (cor[:,0],cor[:,1]))).toarray()

In [8]:
rating_matrix.shape

(53424, 10000)

## Build a Recommendation base on similar users
![title](./assets/alsoview.png)

In [9]:
def get_book_read_by_user(user_id,with_book_info=False):
    user_books = rating[rating['user_id']==user_id].reset_index(drop=True)
    read_books_id = user_books['book_id'].values
    if not with_book_info:
        return read_books_id
    read_books_info = books[books['book_id'].isin(read_books_id)].reset_index(drop=True)
    read_books_info = pd.merge(user_books,read_books_info,on='book_id')
    return read_books_info

In [10]:
def get_similar_user(user_id,k=10):
    # -1 rating table
    _id = user_id - 1
    idx = np.where(rating_matrix[_id]!=0)[0]
    sliced_rating_matrix = rating_matrix[:,idx]
    target = sliced_rating_matrix[_id]
    
    dist = [np.squeeze(euclidean_distances(target.reshape(1,-1),u.reshape(1,-1))) for u in sliced_rating_matrix]
    
    similar_user = np.argsort(dist)
    similar_user += 1
    return similar_user[:k]

In [11]:
def similar_books(user_1,user_2):
    u1 = get_book_read_by_user(user_1)
    u2 = get_book_read_by_user(user_2)
    return np.intersect1d(u1,u2)

In [12]:
target_user = 412
get_book_read_by_user(412,True)

,book_id,user_id,rating,authors,title,average_rating,ratings_count
0,3930,412,4,"Aristotle, J.A.K. Thomson, Jonathan Barnes, Hu...",The Nicomachean Ethics,3.91,19380
1,4640,412,5,Raymond Carver,Cathedral,4.30,18378
2,4908,412,2,Neil Strauss,The Game: Penetrating the Secret Society of Pi...,3.73,16698
3,5122,412,4,Hunter S. Thompson,Fear and Loathing on the Campaign Trail '72,4.10,15306
4,7379,412,3,Steve Martin,The Pleasure of My Company,3.78,12378
5,7771,412,4,Lorrie Moore,Birds of America,4.12,10768
6,8676,412,5,Richard Price,Lush Life,3.69,9478
7,8703,412,4,Adrian Nicole LeBlanc,"Random Family: Love, Drugs, Trouble, and Comin...",4.23,9053
8,8878,412,3,"Gabriel García Márquez, J.S. Bernstein",No One Writes to the Colonel and Other Stories,3.86,10480
9,9533,412,4,Sherman Alexie,Reservation Blues,3.98,9919
10,9759,412,5,Nick Flynn,Another Bullshit Night in Suck City,3.77,8441

In [13]:
get_similar_user(412,k=10)

array([  412, 39032,  3222,  2645,   491,  1861,  8284, 28563, 44496,
       24040])

In [16]:
similar_books(412,2645)

array([5122, 7379, 8676])

In [17]:
get_book_read_by_user(39032,True)

,book_id,user_id,rating,authors,title,average_rating,ratings_count
0,34,39032,2,E.L. James,"Fifty Shades of Grey (Fifty Shades, #1)",3.67,1338493
1,106,39032,4,Tina Fey,Bossypants,3.94,506250
2,144,39032,4,Laura Hillenbrand,"Unbroken: A World War II Story of Survival, Re...",4.40,487775
3,190,39032,5,Cheryl Strayed,Wild: From Lost to Found on the Pacific Crest ...,3.96,379872
4,196,39032,5,Chuck Palahniuk,Fight Club,4.20,365349
5,199,39032,5,John Grogan,Marley and Me: Life and Love With the World's ...,4.12,367304
6,236,39032,5,Jon Krakauer,Into Thin Air: A Personal Account of the Mount...,4.11,291258
7,242,39032,4,James Patterson,"Along Came a Spider (Alex Cross, #1)",4.08,311499
8,290,39032,3,Mindy Kaling,Is Everyone Hanging Out Without Me? (And Other...,3.84,290674
9,297,39032,5,Kurt Vonnegut Jr.,Cat's Cradle,4.18,238940
10,337,39032,4,Douglas Adams,The Ultimate Hitchhiker's Guide to the Galaxy,4.37,222842
11,350,39032,4,"Hunter S. Thompson, Ralph Steadman",Fear and Loathing in Las Vegas,4.08,232489
12,383,39032,3,James Frey,A Million Little Pieces,3.62,184241
13,405,39032,5,Kurt Vonnegut Jr.,Breakfast of Champions,4.08,178154
14,425,39032,4,"Beatrice Sparks, Anonymous",Go Ask Alice,3.77,196677
15,468,39032,4,Zora Neale Hurston,Their Eyes Were Watching God,3.87,181106
16,483,39032,5,J.D. Salinger,Franny and Zooey,3.98,152906
17,490,39032,5,Art Spiegelman,Maus I: A Survivor's Tale: My Father Bleeds Hi...,4.35,184007
18,494,39032,5,Donna Tartt,The Secret History,4.07,168405
19,495,39032,5,Dave Eggers,A Heartbreaking Work of Staggering Genius,3.68,145459
20,499,39032,3,Bret Easton Ellis,American Psycho,3.81,166083
21,508,39032,4,Barbara Ehrenreich,Nickel and Dimed: On (Not) Getting By in America,3.60,152786
22,513,39032,3,"Corrie ten Boom, John Sherrill, Elizabeth Sher...",The Hiding Place: The Triumphant True Story of...,4.42,171384
23,516,39032,4,Michael Chabon,The Amazing Adventures of Kavalier & Clay,4.17,147717
24,522,39032,3,David Mitchell,Cloud Atlas,4.01,152441
25,557,39032,4,Jeffrey Eugenides,The Virgin Suicides,3.83,159249
26,567,39032,2,Vanessa Diffenbaugh,The Language of Flowers,4.07,140076
27,570,39032,5,Nick Hornby,High Fidelity,3.94,134849
28,574,39032,4,Anthony Bourdain,Kitchen Confidential: Adventures in the Culina...,4.00,134177
29,604,39032,4,Susanna Kaysen,"Girl, Interrupted",3.90,145161
...,...,...,...,...,...,...,...
80,3472,39032,5,Flannery O'Connor,The Complete Stories,4.44,27352
81,3523,39032,3,James Baldwin,Go Tell It on the Mountain,4.00,27845
82,3579,39032,5,Nora Ephron,I Feel Bad about My Neck: And Other Thoughts o...,3.65,29749
83,3598,39032,3,Chuck Klosterman,Killing Yourself to Live: 85% of a True Story,3.85,23015
84,3751,39032,3,Gabrielle Hamilton,"Blood, Bones, and Butter: The Inadvertent Educ...",3.71,24531
85,3808,39032,4,Flannery O'Connor,A Good Man is Hard to Find and Other Stories,4.24,25504
86,3811,39032,3,Marya Hornbacher,Wasted: A Memoir of Anorexia and Bulimia,3.99,25452
87,3985,39032,3,Rob Sheffield,Love Is a Mix Tape,3.83,21971
88,3994,39032,4,Jim Carroll,The Basketball Diaries,3.98,23739
89,4391,39032,3,Koren Zailckas,Smashed: Story of a Drunken Girlhood,3.50,20658
90,4597,39032,3,"W.E.B. Du Bois, Donald B. Gibson, Monica W. El...",The Souls of Black Folk,4.24,20355
91,4640,39032,5,Raymond Carver,Cathedral,4.30,18378
92,4932,39032,4,Mary Karr,Lit,3.88,17964
93,4972,39032,3,Richard Russo,Straight Man,4.02,19358
94,5346,39032,5,Raymond Carver,Where I'm Calling From: New and Selected Stories,4.42,16617
95,5524,39032,4,"Johnny Cash, Patrick Carr",Cash,4.08,15113
96,5872,39032,4,Charles Dickens,A Tale of Two Cities / Great Expectations,3.98,14912
97,6045,39032,4,"Nathanael West, Alfred Kazin",The Day of the Locust,3.78,15798
98,6273,39032,5,Ernest Hemingway,In Our Time,3.80,14912
99,6337,39032,3,"Booker T. Washington, Ishmael Reed",Up from Slavery,4.09,15038
100,6693,39032,4,Robert Graysmith,Zodiac,3.89,13120
101,7592,39032,3,"Sylvia Plath, Karen V. Kukil",The Unabridged Journals of Sylvia Plath,4.29,12419
102,7771,39032,4,Lorrie Moore,Birds of America,4.12,10768
103,8724,39032,2,"The Waiter, Steve Dublanica",Waiter Rant: Thanks for the Tip-Confessions of...,3.49,10341
104,8733,39032,5,Jack London,To Build a Fire,3.92,12133
105,8818,39032,5,Raymond Carver,"Will You Please Be Quiet, Please?",4.29,8568
106,8947,39032,5,John L. Parker Jr.,Once a Runner,4.05,8106
107,9038,39032,4,Diablo Cody,Candy Girl: A Year in the Life of an Unlikely ...,3.54,10669
108,9143,39032,4,"Jenna Jameson, Neil Strauss",How to Make Love Like a Porn Star: A Cautionar...,3.75,9531
109,9759,39032,5,Nick Flynn,Another Bullshit Night in Suck City,3.77,8441

## Matrix Factorization

![title](./assets/matrix-factorization.png)


### Why Matrix Factorization

#### 1. Smaller Size

   For example, if we have 53424 users, 10000 items (books) => our rating matrix will have shape of $(U,I) = (53424,10000)$. If each cell is a 'float64' number:

  $$total\_memory = 53424\cdot10000\cdot8$$
  $$total\_memory = 4273920000(b)$$
  $$total\_memory \approx 4,274(gb)$$
  
   If we can factorize this $(U,I)$ matrix to $(U,k)\cdot(I,k)^T$ with $k = 32$ (for example), then we will greatly reduce our space complexity:
   
   $$total\_memory = 53424\cdot32\cdot8 + 10000\cdot32\cdot8$$
   $$total\_memory = 16236544(b)$$
   $$total\_memory \approx 16(mb)$$


#### 2. Predict Items Rating (Matrix completion)
   Make inference time much faster. Instead of calculate similar users to a given target user, then sample a list of recommendation from these similar users, the product of 2 latent matrices will give us predicted rating score of each user to each item.
   
   
#### 3. "Meaningful" latent vectors
   
   From an application point of view, matrix factorization can be used to discover latent features underlying the interactions between two different kinds of entities. (Of course, you can consider more than two kinds of entities and you will be dealing with tensor factorization, which would be more complicated.) And one obvious application is to predict ratings in collaborative filtering
   
   More info: http://nicolas-hug.com/blog/matrix_facto_1

## Singular Value Decomposition (SVD)

![title](./assets/svd.png)

https://en.wikipedia.org/wiki/Singular_value_decomposition

https://research.fb.com/blog/2014/09/fast-randomized-svd/

Note: Definition of SVD in Recommendation System often doesn't equal its definition in Mathematic.  

$A \approx U\cdot\Sigma\cdot{V^T}$

Where:

   - A is our utility matrix that has shape $(m,n)$

   - U is an matrix that has shape $(m,k)$

   - V is an matrix that has shape $(n,k)$
   
   - $\Sigma$ have shape $(k,k)$

In [18]:
from sklearn.utils.extmath import randomized_svd

In [19]:
U, Sigma, V_T = randomized_svd(rating_matrix,n_components=128)
Sigma = np.diag(Sigma)

In [20]:
print(U.shape)
print(Sigma.shape)
print(V_T.shape)

(53424, 128)
(128, 128)
(128, 10000)

In [31]:
# 23122, 42135 (manga)
# 2123 (non-fiction)
# 5231 (author-bias)
# 42152 (cold start)
target_user = 5231
target_user_latent = U[target_user-1].reshape(1,-1)
target_user_latent.shape

(1, 128)

In [32]:
predicted_rating = np.dot(np.dot(target_user_latent,Sigma),V_T)[0]

In [33]:
recommended_books = np.argsort(predicted_rating)[::-1]
recommended_books_rating = np.sort(predicted_rating)[::-1]

recommended_books = recommended_books[:20]
recommended_books_rating = recommended_books_rating[:20]

recommended_books+=1

In [34]:
get_book_read_by_user(target_user,True)

,book_id,user_id,rating,authors,title,average_rating,ratings_count
0,2771,5231,5,Catherine Ryan Hyde,When I Found You,3.92,16032
1,3012,5231,5,Donna Mabry,Maude,4.05,28316
2,3429,5231,5,Jennifer McMahon,The Winter People,3.76,27234
3,5135,5231,3,Mary Higgins Clark,"Loves Music, Loves to Dance",3.89,21880
4,5379,5231,3,Rachel Abbott,Sleep Tight,3.98,10894
5,5447,5231,4,Camron Wright,The Rent Collector,4.23,16153
6,5628,5231,2,"María Dueñas, Daniel Hahn",The Time in Between,4.04,10166
7,5738,5231,4,Chris Cleave,Everyone Brave is Forgiven,3.80,16183
8,5758,5231,3,Harlan Coben,Promise Me (Myron Bolitar #8),3.96,18168
9,5801,5231,3,Mary Higgins Clark,While My Pretty One Sleeps,3.88,18846
10,5807,5231,4,Darcie Chan,The Mill River Recluse,3.55,15821
11,6000,5231,4,Julie Klassen,The Apothecary's Daughter,3.79,15782
12,6231,5231,5,"Bill O'Reilly, Martin Dugard",Killing Patton: The Strange Death of World War...,4.08,13706
13,6742,5231,4,Mary Higgins Clark,On the Street Where You Live,3.85,16327
14,7108,5231,5,Cassie Dandridge Selleck,The Pecan Man,4.07,12912
15,7239,5231,4,Katharine Graham,Personal History,4.13,13714
16,7352,5231,4,James Alexander Thom,Follow the River,4.21,13697
17,7390,5231,3,Laurie Fabiano,Elizabeth Street,3.90,7821
18,7520,5231,2,Michelle Richmond,The Year of Fog,3.46,12248
19,7641,5231,2,Ivan Doig,The Whistling Season,4.01,11379
20,7739,5231,4,Glenn Beck,The Christmas Sweater,3.79,12916
21,8030,5231,3,Mary Higgins Clark,The Cradle Will Fall,3.89,14370
22,8091,5231,5,Sandra Dallas,Prayers for Sale,3.83,13730
23,8111,5231,4,Cynthia Voigt,"Dicey's Song (Tillerman Cycle, #2)",3.94,14926
24,8324,5231,3,"Benedict Freedman, Nancy Freedman","Mrs. Mike (Mrs. Mike, #1)",4.13,12826
25,8385,5231,3,Liza Klaussmann,Tigers in Red Weather,3.42,10800
26,8475,5231,3,Sandra Dallas,The Persian Pickle Club,3.78,13732
27,8514,5231,4,Mary Higgins Clark,I'll Be Seeing You,3.79,13804
28,8830,5231,5,Mary Higgins Clark,A Cry In The Night,3.84,12157
29,9000,5231,2,Mary Higgins Clark,Pretend You Don't See Her,3.86,12508
30,9096,5231,4,Charles Martin,When Crickets Cry,4.23,9668
31,9322,5231,1,Andy Andrews,"The Noticer: Sometimes, All a Person Needs Is ...",4.17,8335
32,9348,5231,4,Jennifer McMahon,Promise Not to Tell,3.62,11775
33,9422,5231,5,Jennifer McMahon,The Night Sister,3.67,10219
34,9594,5231,4,Jennifer McMahon,Don't Breathe a Word,3.58,10585
35,9760,5231,4,Beverly Lewis,"The Covenant (Abram's Daughters, #1)",4.12,9408

In [35]:
temp = books[books['book_id'].isin(recommended_books)]
temp.insert(5,'user_predicted_rating',recommended_books_rating)
temp

,book_id,authors,title,average_rating,ratings_count,user_predicted_rating
3017,3018,Mary Higgins Clark,Where Are the Children?,4.00,34816,1.542324
5013,5014,Mary Higgins Clark,Two Little Girls in Blue,3.85,20727,1.507866
5076,5077,Mary Higgins Clark,All Around the Town,3.94,20029,1.481117
5134,5135,Mary Higgins Clark,"Loves Music, Loves to Dance",3.89,21880,1.474872
5796,5797,Mary Higgins Clark,You Belong To Me,3.85,19131,1.471890
5800,5801,Mary Higgins Clark,While My Pretty One Sleeps,3.88,18846,1.463220
6145,6146,Mary Higgins Clark,Let Me Call You Sweetheart,3.84,17472,1.442045
6303,6304,Mary Higgins Clark,Remember Me,3.91,16963,1.413903
6714,6715,Mary Higgins Clark,A Stranger Is Watching,3.91,15659,1.410484
6741,6742,Mary Higgins Clark,On the Street Where You Live,3.85,16327,1.399965
7569,7570,Mary Higgins Clark,Daddy's Little Girl,3.85,14602,1.376400
8001,8002,Mary Higgins Clark,Where Are You Now?,3.77,12550,1.305957
8011,8012,Mary Higgins Clark,I Heard That Song Before,3.81,12611,1.299521
8029,8030,Mary Higgins Clark,The Cradle Will Fall,3.89,14370,1.277415
8513,8514,Mary Higgins Clark,I'll Be Seeing You,3.79,13804,1.148185
8829,8830,Mary Higgins Clark,A Cry In The Night,3.84,12157,1.033066
8999,9000,Mary Higgins Clark,Pretend You Don't See Her,3.86,12508,0.946288
9067,9068,Mary Higgins Clark,Moonlight Becomes You,3.80,12657,0.726030
9240,9241,Gerald N. Lund,"Truth Will Prevail (The Work and the Glory, #3)",4.30,9081,0.566976
9884,9885,Mary Higgins Clark,I'll Walk Alone,3.78,9794,0.282384

# Conclusion

### Collaborative Filtering / Matrix Factorization

#### Pros:

- Smaller memory footprint
   
- Efficient query time (after the factorization step is complete)
   
- "Meaningful" latent space, helpful when compute similar users, similar items
   
- Doesn't require any meta data (item's title, description, tags,... ). Derived users' and items' features directly from the interaction matrix alone.

   
#### Cons:
    
- Popularity bias: Super popular items have more iteraction in the utility matrix => our model will start recommend some super popular items to everyone just because most people have interact with these items.

- Cold-start problems: As oppose to popular items, items that have small number of interactions will never get recommened to anyone. The same thing is true to user, if an user that have small number of interactions, the recommended items will not accurate.